/* --------------- Elements -------------- */
h1 img {
  display: block;
}

/* --------------- Content -------------- */
#content {
  padding: 0.8em;
}

.pageinfo {
  background: #e3f6f9; /*#cdfffd;*/
  padding: 0.5em;
  font-size: 0.8em;
  color: #444;
}
.pageinfo dt {
  display: inline-block;
  font-weight: bold;
  margin-left: 0.5em;
}
.pageinfo dd {
  display: inline-block;
  margin: 0;
}
.pageinfo .avatar {
  width: 1.2em;
  height: 1.2em;
  vertical-align: text-bottom;
}

/* --------------- Comment -------------- */
#comments iframe {
  width: 100%;
  min-height: 10em;
  height: 50vh;
  resize: vertical;
}

