#searchform {
  display: table;
  background-color: #F7F7F7;
  padding: 0.5em 0.3em;
  border-spacing: 0.5em 0.2em;
  margin-bottom: 1em;
}

#searchform > * {
  display: table-row;
}

#searchform > * > * {
  display: table-cell;
}

#searchform_ignoretypes label {
  display: block;
}

#searchform input[type="submit"] {
  width: 100%;
}

#resultsinfo {
  color: #444;
}
