<!DOCTYPE html>
<html>

<head>

{{template "commonmeta.tmpl" .}}
{{template "commonincludes.tmpl" .}}
<link rel="stylesheet" href="{{.root}}/static/comments.css?{{.cachebust}}">

<body>

{{if not .iframe}}
{{template "header.tmpl" .}}
{{end}}

<main>

{{if not .iframe}}
<h1>{{template "pagelink.tmpl" .mainpage}}</h1>
{{end}}

{{template "commentnav.tmpl" .}}

<div id="comments">
  {{range .comments}}
  <div class="comment" id="comment_{{.Id}}">
    <div class="left">
      {{if .CreateUser}}
      {{template "avatar.tmpl" .CreateUser.Avatar}}
      {{else}}
      <img alt="unknown user" class="avatar">
      {{end}}
    </div>
    <div class="right">
      <div class="topline">
        {{if .CreateUser}}
        <span class="username">{{.CreateUser.Username}}</span>
        {{else}}
        <span class="username" data-unknownuser>???</span>
        {{end}}
        <time>{{.Created}}</time>
      </div>
      <pre class="content">{{.Text}}</pre>
    </div>
  </div>
  {{end}}
</div>

{{template "commentnav.tmpl" .}}

</main>

{{if not .iframe}}
{{template "footer.tmpl" .}}
{{end}}
