<header>
  {{if not .loggedin}}
  <form method="POST" action="{{.root}}/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="return" value="{{.requestUri}}">
    <input type="submit" value="Login">
  </form>
  {{else}}
  <form method="POST" action="{{.root}}/logout">
    {{template "avatar.tmpl" .user.Avatar}}
    <input type="hidden" name="return" value="{{.requestUri}}">
    <input type="submit" value="Logout - {{.user.Username}} [{{.user.Uid}}]">
  </form>
  {{end}}
  <a href="{{.root}}/">Home</a>
  <a href="{{.root}}/search">Search</a>
</header>

