<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="rating" content="general">
<meta name="description" content="Readonly contentapi.">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{.title}}</title>

<!-- The 12y2 (and 12y?) markup system requirements -->
<script src="{{.root}}/static/markup/langs.js?{{.cachebust}}"></script>
<script src="{{.root}}/static/markup/legacy.js?{{.cachebust}}"></script>
<script src="{{.root}}/static/markup/parse.js?{{.cachebust}}"></script>
<script src="{{.root}}/static/markup/render.js?{{.cachebust}}"></script>
<script src="{{.root}}/static/markup/helpers.js?{{.cachebust}}"></script>
<link rel="stylesheet" href="{{.root}}/static/markup/markup.css?{{.cachebust}}">

<!-- Requirements for markup that we must provide -->
<script src="{{.root}}/static/markup.js?{{.cachebust}}"></script>

<!-- Our actual page requirements -->
<link rel="stylesheet" href="{{.root}}/static/index.css?{{.cachebust}}">

<body>

<header>
  {{if not .loggedin}}
  <form method="POST" action="{{.root}}/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="return" value="{{.requestUri}}">
    <input type="submit" value="Login">
  </form>
  {{else}}
  <form method="POST" action="{{.root}}/logout">
    <img src="{{UploadUrl .user.Avatar}}" class="avatar">
    <input type="hidden" name="return" value="{{.requestUri}}">
    <input type="submit" value="Logout - {{.user.Username}} [{{.user.Uid}}]">
  </form>
  {{end}}
</header>

<main>

  <h1>{{.title}}{{if .mainpage.Private}}<sub>&#x1F512;</sub>{{end}}</h1>

  <article>
    <nav class="breadcrumbs">
      {{range .breadcrumbs}}
      <span>/</span>
      {{template "pagelink.tmpl" .}}
      {{end}}
    </nav>
    {{if .mainpage.Id}}
    <pre id="content">{{.mainpage.Text}}</pre>
    <dl class="pageinfo">
      <dt>ID:</dt>
      <dd data-id="{{.mainpage.Id}}">{{.mainpage.Id}}</dd>
      <dt>Type:</dt>
      <dd data-contenttype="{{.mainpage.ContentType}}">{{.mainpage.ContentType}}</dd>
      <dt>CDate:</dt>
      <dd data-createdate="{{.mainpage.Created}}">{{.mainpage.Created}}</dd>
      <dt>CUser:</dt>
      <dd data-createuser="{{.mainpage.CreateUserId}}">
      {{- if .mainpage.CreateUser -}}
      <img src="{{UploadUrl .mainpage.CreateUser.Avatar}}" class="avatar">
      <span class="username">{{.mainpage.CreateUser.Username}}</span>
      {{- else -}}
      {{.mainpage.CreateUserId}}
      {{- end -}}
      </dd>
    </dl>
    {{end}}
  </article>

  <section id="subpages">
    <h3>Subpages: {{len .subpages}}</h3>
    <ul>
    {{range .subpages}}
    <li>{{template "pagelink.tmpl" .}}</li>
    {{end}}
    </ul>
  </section>

</main>
