<a href="{{PageUrl .}}" class="pagelink" {{if .Private}}data-private=""{{end}}>
{{- if eq .ContentType 3 -}}
<img src="{{ThumbnailUrl .Hash}}" alt="{{.Hash}}" class="avatar">
{{- end -}}
{{.Name}}{{if .Private}}<sub>&#x1F512;</sub>{{end}}</a>
