<!DOCTYPE html>
<html>

<head>

{{template "commonmeta.tmpl" .}}
{{template "commonincludes.tmpl" .}}
<link rel="stylesheet" href="{{.root}}/static/search.css?{{.cachebust}}">

<body>

{{template "header.tmpl" .}}

<main>

<h1>Search</h1>

<form id="searchform" class="search">
  <input type="hidden" name="r" value="1">
  <div>
    <label for="searchform_search">Search:</label>
    <input name="search" id="searchform_search" value="{{.search.Search}}">
  </div>
  <div>
    <label for="searchform_user">User{{if .loggedin}} ({{.user.Uid}}){{end}}:</label>
    <input name="user" id="searchform_user" value="{{.search.User}}">
  </div>
  <div>
    <label for="searchform_page">Page:</label>
    <input name="page" type="number" min="0" id="searchform_page" value="{{.search.Page}}">
  </div>
  <div>
    <span>Ignore:</span>
    <div id="searchform_ignoretypes">
      {{range $k, $v := .ignoretypes}}
      <label>
        <input name="ignoretypes" type="checkbox" value="{{$v.Value}}" {{if $v.Checked}}checked{{end}}>
        <span>{{$k}}</span>
      </label>
      {{end}}
    </div>
  </div>
  <div>
    <span></span> <!-- Empty to make table work? -->
    <input type="submit" value="Search">
  </div>
</form>

{{if .search}}
<div id="resultsinfo" class="searchinfo">
  <span id="count">{{if .resultcount}}({{.resultstart}} - {{.resultend}}) of {{end}}{{.resultcount}} results</span>
</div>
<ul id="results">
  {{range .results}}
  <li>{{template "pagelink.tmpl" .}}</li>
  {{end}}
</ul>
{{end}}

</main>

{{template "footer.tmpl" .}}
